/* You can add global styles to this file, and also import other style files */

/***** colors *****/
$clr-primary: #4D679F;
$clr-footer-bg: #F8FAFD;
$clr-body-bg: #E8EAF5;

* {
    &::before,
    &::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: $clr-body-bg;
    height: 100vh;
    font-family: "Inter", sans-serif;
}
.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}